.input{
    height: 50px;
    width: 120px;
    margin-right: 10px;
}
.form{
    margin-bottom: 20px;
}
.vhod{
    height: 55px;
    width: 100px;
    color: white;
    background: rgb(47, 255, 168);
}